body{
    background-color:#EBEBEB
}

.cor_do_topo{
    background-color:#21272B;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0 20px;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
}

.img_principal{
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.textos-topo {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 2px;
}

.menu{
    display: flex;
    align-items: left;
    gap: 15px;
    padding: 20px 30px;
}

.cor_luxo{
    color:#1BB4E8;

}

.lista-horizontal {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;                 
  margin: 0;          
}